<input type="file" (change)="fileChangeEvent($event)" />
<button (click)="rotateLeft()">Rotate left</button>
<button (click)="rotateRight()">Rotate right</button>
<button (click)="flipHorizontal()">Flip horizontal</button>
<button (click)="flipVertical()">Flip vertical</button>

<div>
  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [onlyScaleDown]="false"
      [roundCropper]="false"
      [aspectRatio]="1/1"
      [resizeToWidth]="128"
      [maintainAspectRatio]=false
      format="png"
      outputType="base64"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      
      [alignImage]="'left'"
  ></image-cropper>
</div>
<img [src]="croppedImage" />